<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzZSwLq6M5V3-pYkqW-fN1bRv_eZawSEw</string>
	<key>GCM_SENDER_ID</key>
	<string>198306780944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWallet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mywallet-ade67</string>
	<key>STORAGE_BUCKET</key>
	<string>mywallet-ade67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198306780944:ios:a486cfe47e5ee91e52f795</string>
</dict>
</plist>